*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width:100%;
}

.mittig{
    text-align: center;
    margin-top:50px;
}
.zuruck{
    text-align: center;
    padding-top: 5px;
    font-size: medium;
    width:80px;
    background:transparent;
    font-size: 20px;
    height:50px;
    border:none;
}

.zuruck:hover{
    border-bottom: 2px solid red;
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

.nav-ul{
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav-item{
    display: grid;
}

img{
    margin: 0 auto;
}

.login-button:hover{
    border-bottom: 2px solid red;
}

.login-button{
    text-align: right;
    padding-top: 12px;
    font-size: medium;
    font-size: 20px;
    text-align: center;
}


.linksauswahl-item{
    margin: 18px;
}

.links{
    width: 160px;
    height: 160px;
    border-radius: 25px;
    border: 1px solid whitesmoke;
}

.links:hover{
    border: 1px solid lightgray;
}

.login{
    margin-left: 25%;
    width: 50%;
    margin-top: 200px;
}

.backgroundlogin{
    text-align: center;
    height: 220px;
    background-color: whitesmoke;
    border-radius: 25px;
    width: 360px;
    margin-left: 25%;
    border: 1px solid gray;
}

.login-schrift{
    padding-top: 10px;
}

.registrieren-button{
    border-radius: 5px;
    font-size: 24px;
    width: 300px;

}

.login{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.username-input{
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 24px;
    width: 300px;
}

.password-input{
    border-radius: 5px;
    font-size: 24px;
    border: 1px solid gray;
    width: 300px;
}

.einloggen-button{
    border-radius: 5px;
    font-size: 24px;
    width: 300px;
}









































